@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(@/assets/fonts/Sarabun-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Kanit";
    src: local("Kanit"),
    url(@/assets/fonts/Kanit-Regular.ttf) format("truetype");
  }  
$body-font-family: 'Kanit', serif;
$font-family: 'Kanit', serif;



.donut .pie text.apexcharts-title-text{
    border: 1px solid #000!important;
    padding: 5px;
    background: #000;
}